USE [master]
GO
/****** Object:  StoredProcedure [dbo].[sp_MDD_Coverage_2G_FY1617]    Script Date: 25/05/2017 11:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[sp_MDD_Coverage_2G_FY1617] 
(
		-- Variables de entrada
		@provincia as varchar(256),			
		@ciudad as varchar(256),					
		@simOperator as int,
		@tech as varchar(256),
		@umbralIndoor varchar(256),
		@monthYearDash as varchar(100),
		@weekDash as varchar(50),
		@Report as varchar (256),
		@aggrType as varchar(256)
)
as


EXEC [dbo].[sp_MDD_Coverage_2G_Wrapped_FY1617] @provincia,		
		@ciudad,						
		@simOperator,
		@tech, 
		@umbralIndoor, 
		@monthYearDash,
		@weekDash,
		@Report,
		@aggrType
		WITH RESULT SETS
		((
			[Database] [nvarchar](128) NULL,
			[mnc] [varchar](50) NULL,
			[parcel] [varchar](50) NULL,
			[carrier] [varchar](50) NULL,
			[band] [varchar](50) NULL,
			[muestras] [int] NULL,
			[cobertura AVG] [float] NULL,
			[<-120] [int] NULL,
			[<=-120 a <-117] [int] NULL,
			[<=-117 a <-115] [int] NULL,
			[<=-115 a <-113] [int] NULL,
			[<=-113 a <-110] [int] NULL,
			[<=-110 a <-107] [int] NULL,
			[<=-107 a <-105] [int] NULL,
			[<=-105 a <-103] [int] NULL,
			[<=-103 a <-100] [int] NULL,
			[<=-100 a <-97] [int] NULL,
			[<=-97 a <-95] [int] NULL,
			[<=-95 a <-93] [int] NULL,
			[<=-93 a <-92] [int] NULL,
			[<=-92 a <-90] [int] NULL,
			[<=-90 a <-87] [int] NULL,
			[<=-87 a <-85] [int] NULL,
			[<=-85 a <-84] [int] NULL,
			[<=-84 a <-82] [int] NULL,
			[<=-82 a <-81] [int] NULL,
			[<=-81 a <-80] [int] NULL,
			[<=-80 a <-77] [int] NULL,
			[<=-77 a <-75] [int] NULL,
			[<=-75 a <-72] [int] NULL,
			[<=-72 a <-70] [int] NULL,
			[<=-70 a <-67] [int] NULL,
			[<=-67 a <-66] [int] NULL,
			[<=-66 a <-65] [int] NULL,
			[<=-65 a <-62] [int] NULL,
			[<=-62 a <-60] [int] NULL,
			[>=-60] [int] NULL,
			[Indoor_Coverage_Prob] [float] NULL,
			[Region] [nvarchar](255) NULL,
			[Provincia] [nvarchar](255) NULL,
			[Condado] [nvarchar](255) NULL,
			[Turistico] [float] NULL,
			[Entorno] [nvarchar](255) NULL,
			[Vendor_VF] [nvarchar](255) NULL,
			[Suministrador_VF] [nvarchar](255) NULL,
			[Sum_VF_Y_PINZA] [nvarchar](255) NULL,
			[Vendor_2G_MV] [nvarchar](255) NULL,
			[Vendor_3G_MV] [nvarchar](255) NULL,
			[Vendor_OR] [nvarchar](255) NULL,
			[Suministrador_OR] [nvarchar](255) NULL,
			[CodINE] [float] NULL,
			[Ciudad] [nvarchar](255) NULL,
			[Poblacion] [float] NULL,
			[Rango_Pob_Zona] [nvarchar](255) NULL,
			[Rango_Pob] [nvarchar](255) NULL,
			[Zona] [nvarchar](255) NULL,
			[Pob_Urbano] [nvarchar](255) NULL,
			[AVE] [nvarchar](255) NULL,
			[Carretera] [nvarchar](255) NULL,
			[Carretera_P3] [nvarchar](255) NULL,
			[Ciudad_P3] [nvarchar](255) NULL,
			[Entorno_P3] [nvarchar](255) NULL,
			[Meas_Week] [varchar](3) NULL,
			[Meas_Round] [varchar](256) NULL,
			[Meas_Date] [varchar](256) NULL,
			[Entidad] [varchar](256) NULL,
			[Num_Medida] [varchar](256) NULL,
			[monthYearDash] [varchar](256) NULL,
			[weekDash] [varchar](256) NULL,
			[Report_Type] [varchar](256) NULL,
			[Aggr_Type] [varchar](256) NULL
		 ))
